.htaccess
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/cache/
wp-content/backups/
wp-content/backup-db/
wp-content/uploads/
wp-content/plugins/
wp-content/themes/
wp-config-sample.php
wp-config.php
wp-content/themes/optimizePressTheme/pages/marketing/1/template.php
sitemap.xml
sitemap.xml.gz
*.log
*.swp
prueba.php
__index.php
__xmlrpc.php
__wp-*.php
__wp-admin
__wp-includes
descargas/
firmas/
images/
ruleta/
public/grunt/
!public/images/
public/stylus/
bower_components/
node_modules/
vendor/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
